body {
    background: #f9f9f9;
}

header {
    background: #333;
    color: white;
}



.login .container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.login h2 {
    margin-bottom: 1em;
}
